h1= title
  form(id="logout")
    input(type="submit", value="Logout", onclick="logout();return false;")
p Welcome to BigBlueButton, #{user}!

// The chat box and its controls
div(id="ChatAndControls")
  div(id="chat_title") <b>Chat messages</b>
  div(id="chat_messages")
    div You are now connected to MeetingID <b>#{meetingID}</b>
  form(id='chat_input')
    label(id="charcount")= max_chat_length
    input(id="chat_input_box", maxlength="#{max_chat_length}", onKeyUp="countchars(#{max_chat_length})", placeholder="Type and press enter")
    input(id="send_chat", type="submit", value="Send", onclick="sendMessage();return false;")

// List of the connected users
div(id="listUsers")
  div Current users
  div(id="current_users")
  form(id="switchPresenter")
    input(type="submit", value="Switch presenter", onclick="switchPresenter();return false;")
// The slide and controls of the chat page

div(id="slideAndControls")
  div(id="slide")

  // Buttons below the slide
div(id='imagecontrols', style="clear:left")
  form(id='backward_image')
    input(type="submit", value="<<<", onclick="prevImg();return false;")
  form(id='forward_image')
    input(type="submit", value=">>>", onclick='nextImg();return false;')
  form(id='clearCanvas')
    input(type="submit", value="Clear", onclick="clearCanvas();return false;")
  form(id="chooseLine")
    input(id='lineButton', type="submit", value="Line", onclick="changeTool('line');return false;")
  form(id="chooseRect")
    input(id='rectButton', type="submit", value="Rect", onclick="changeTool('rect');return false;")
  form(id='chooseEllipse')
    input(id='ellipseButton', type="submit", value="Ellipse", onclick="changeTool('ellipse');return false;")
  form(id="choosePanZoom")
    input(type="submit", value='Pan', onclick="changeTool('panzoom');return false;")
  form(id='chooseText')
    input(type="submit", value='Text', onclick="changeTool('text');return false;")
  select
    //-option(value="12") 12
    option(value="14") 14
    //-option(value="18") 18
    //-option(value="22") 22
    //-option(value="24") 24
    //-option(value="32") 32
    //-option(value="36") 36
  form(id="undoShape")
    input(type='submit', value='Undo', onclick='undoShape();return false;')
  form(id='fitToPage')
    input(type="submit", value='Fit to Page', onclick='sendFitToPage(true);return false;')
  form(id='fitToWidth')
    input(type="submit", value='Fit to Width', onclick='sendFitToPage(false);return false;')
  br
  canvas(id="colourView", width="12", height="12", onclick='toggleColourPicker()')
  input(id='colourText', maxlength='7', type='text')
  canvas(id="thicknessView", width="20", height="20")
  div(id='thickness')
  // Upload controls
  div(id="uploadcontrols")
    p Upload custom slides
      form(method="post", enctype="multipart/form-data", id="uploadForm")
        input(type="file", name="image", id="uploadFile")
      span(id="uploadStatus")
        //input(type="submit", value="Upload")
  textarea(autofocus, id='area', class='textinput', style="visibility:hidden;")

// External scripts here
script(src='/js/lib/raphael-min.js')
script(src='/js/lib/colorwheel.js')
script(src="/js/lib/jquery-1.7.2.min.js")
script(src="/js/lib/jquery.mousewheel.min.js")
script(src='/js/lib/jquery.autosize-min.js')
script(src='/js/lib/jquery.form.js')
script(src='/js/lib/jq-ui.js')
script(src="/socket.io/socket.io.js")
script(src='/js/chat/whiteboard.js')
script(src='/js/chat/chat.js') //all socket interactions javascript
script(src='/js/lib/textflow.js')
script(src='/js/lib/textflow-helper.js') //for textFlow
