link(rel="stylesheet", href="css/reset.css")
link(rel="stylesheet", href="css/font-awesome.css")
link(rel="stylesheet", href="css/layout.css")
//-h1= title
//-  form(id="logout")
//-    input(type="submit", value="Logout", onclick="Connection.emitLogout();return false;")
//-p Welcome to BigBlueButton, #{user}!
div(id="layout")
  div(id="presentation")
    div(id="slideAndControls")
      div(id="slide")
  div(id="users")
    h3 Users
    div(id="current_users")
    form(id="switchPresenter")
      input(type="submit", value="Switch presenter", onclick="Chat.switchPresenter();return false;")
  div(id="chat")
    h3 Chat
    div(id="chat_messages")
      div You are now connected to MeetingID <b>#{meetingID}</b>
    div(id="chat-entry")
      textarea(id="chat_input_box", maxlength="#{max_chat_length}", placeholder="Enter a chat message.")
      button#chat-send Post
  div(id="navbar")
    div(class="navbar-btngroup")
      button(id="prev-slide-btn", class="navbar-btn") <i class="icon-arrow-left"></i> Previous
      button(id="next-slide-btn", class="navbar-btn") <i class="icon-arrow-right"></i> Next
      button(id="tool-pan-btn", class="navbar-btn") <i class="icon-move"></i> Pan/Zoom
      button(id="tool-line-btn", class="navbar-btn") <i class="icon-pencil"></i> Line
      button(id="tool-rect-btn", class="navbar-btn") Rectangle
      button(id="tool-ellipse-btn", class="navbar-btn") Ellipse
    div(class="navbar-btngroup pull-right")
      button(id="users-btn", class="navbar-btn") <i class="icon-group"></i> Users
      button(id="video-btn", class="navbar-btn") <i class="icon-facetime-video"></i> Video
      button(id="chat-btn", class="navbar-btn") <i class="icon-comments"></i> Chat <div id="chat-notifications" class="notification">12</div>
      button(id="logout-btn", class="navbar-btn") <i class="icon-signout"></i> Logout
canvas(id="colourView", width="12", height="12", onclick='Whiteboard.toggleColourPicker()')
input(id='colourText', maxlength='7', type='text')

canvas(id="thicknessView", width="20", height="20")

  -// The chat box and its controls
  div(id="ChatAndControls")
    div(id="chat_title") <b>Chat messages</b>
    form(id='chat_input')
      label(id="charcount")= max_chat_length
      input(id="chat_input_box", maxlength="#{max_chat_length}", onKeyUp="Chat.countchars(#{max_chat_length})", placeholder="Type and press enter")
      input(id="send_chat", type="submit", value="Send")

  -// List of the connected users
  div(id="listUsers")
    div Current users
    div(id="current_users")
    form(id="switchPresenter")
      input(type="submit", value="Switch presenter", onclick="Chat.switchPresenter();return false;")
  -// The slide and controls of the chat page

  div(id="slideAndControls")
    div(id="slide")

  -// Buttons below the slide
  div(id='imagecontrols', style="clear:left")
    form(id='backward_image')
      input(type="submit", value="<<<", onclick="Connection.emitPrevSlide();return false;")
    form(id='forward_image')
      input(type="submit", value=">>>", onclick='Connection.emitNextSlide();return false;')
    form(id='clearCanvas')
      input(type="submit", value="Clear", onclick="Chat.clearCanvas();return false;")
    form(id="chooseLine")
      input(id='lineButton', type="submit", value="Line", onclick="Connection.emitChangeTool('line');return false;")
    form(id="chooseRect")
      input(id='rectButton', type="submit", value="Rect", onclick="Connection.emitChangeTool('rect');return false;")
    form(id='chooseEllipse')
      input(id='ellipseButton', type="submit", value="Ellipse", onclick="Connection.emitChangeTool('ellipse');return false;")
    form(id="choosePanZoom")
      input(type="submit", value='Pan', onclick="Connection.emitChangeTool('panzoom');return false;")
    form(id='chooseText')
      input(type="submit", value='Text', onclick="Connection.emitChangeTool('text');return false;")
    select
      //-option(value="12") 12
      option(value="14") 14
      //-option(value="18") 18
      //-option(value="22") 22
      //-option(value="24") 24
      //-option(value="32") 32
      //-option(value="36") 36
    form(id="undoShape")
      input(type='submit', value='Undo', onclick='Connection.emitUndo();return false;')
    form(id='fitToPage')
      input(type="submit", value='Fit to Page', onclick='Connection.sendFitToPage(true);return false;')
    form(id='fitToWidth')
      input(type="submit", value='Fit to Width', onclick='Connection.sendFitToPage(false);return false;')
    br
    canvas(id="colourView", width="12", height="12", onclick='Whiteboard.toggleColourPicker()')
    input(id='colourText', maxlength='7', type='text')
    canvas(id="thicknessView", width="20", height="20")
    div(id='thickness')
    // Upload controls
    div(id="uploadcontrols")
      p Upload custom slides
        form(method="post", enctype="multipart/form-data", id="uploadForm")
          input(type="file", name="image", id="uploadFile")
        span(id="uploadStatus")
          //input(type="submit", value="Upload")
    textarea(autofocus, id='area', class='textinput', style="visibility:hidden;")

-// External scripts here
script(src='/js/lib/require-min.js', data-main='/js/main.js')
